<p>home works!</p>
<ul>
   <p> o projeto consiste em 5 telas, para realizar o pedido é necessario realizar o cadastro
    e conter ao menos 1 pedido, caso contrario nao aceitara.</p>
    <p>
    O projeto inicial continha alem do caradpio, uma tela de customização que nao foi incluida ja que 
    que na tarefa nao solicitava a conversão do projeto inteiro. </p>
    <p>
    as telas que contem algum conteudo sao as de Cardapio, Cadastro e Pedido, as outras foram 
    mantidas para verificar a navegação.</p>
</ul>
